PyPDF2>=3.0.0
requests>=2.31.0
pdfminer.six>=20231228
Flask==3.0.0
Werkzeug==3.0.1

jupyterlab

autogen-agentchat
autogen-core
autogen-ext
dotenv
openai
tiktoken
autogen-ext[http-tool]
autogen-ext[openai]
langchain-community
langchain
docker
autogen-ext[docker]
streamlit
autogen-ext[mcp]
flask
pyngrok
flask_cors
boto3
pypdf
anthropic