PyPDF2>=3.0.0
requests>=2.31.0
pdfminer.six>=20231228
Flask==3.0.0
Werkzeug==3.0.1
autogen-agentchat
autogen-core
autogen-ext
dotenv
openai
autogen-ext[http-tool]
autogen-ext[openai]
docker
autogen-ext[docker]
autogen-ext[mcp]
flask
pyngrok
flask_cors
boto3
pypdf
anthropic